.c-grid{
  min-height: 100vh;
  display:grid;
  grid-template:
  "logo main"
  "aside main";
  grid-template-columns: 0.16fr 1fr;
  grid-template-rows: 0.13fr 1fr;
}

.c-title{
  margin:0;
  font-family: "articulat-cf", sans-serif;
  font-weight: 800;
  font-style: normal;
}

/*
LOGO
*/
.c-grid__logo{
  padding: 2.5rem;
  grid-area: logo;
  background-color: var(--light-dark);
  color: var(--white);
  border-radius: 0 3px 0 0;
  border-bottom: 1px solid var(--light-gray);
}


.c-grid__logo p{
  margin:0;
  font-family: "articulat-cf", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
  color: var(--light-gray);
}

/*
* ASIDE
*/
.c-grid__aside{
  padding: 2.5rem 0rem;
  grid-area: aside;
  background-color: var(--light-dark);
  color: var(--white);
  border-radius: 0 0 3px 0;
}

.c-grid__aside-selected{
  position: absolute;
  background-color: var(--primary-color);
  border-radius: 0 3px 3px 0;
  width: 0.5rem;
  left:0;
  height: 100%;
  margin-right: 2rem;
}

.c-grid__aside *{
  transition: all 0.2s ease-in-out;
}

.c-grid__aside ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.c-grid__aside ul li{
  position: relative;
  height: 3.875rem;
}

.c-grid__aside ul li a{
  height:100%;
  align-items: center;
  display: flex;
  margin-left:2.5rem;
  gap: 1rem;
  text-decoration: none;
  color: var(--light-gray);
  font-weight: 600;
  font-size:1rem;
  font-family: "articulat-cf", sans-serif;
}

.c-grid__aside ul li a.selected{
  color: var(--white);
}

.c-grid__aside ul li a:hover{
  color: var(--white);
}

.c-grid__aside ul li a:hover path.cls-3{
  stroke: var(--white);
}

.c-grid__aside ul li a:hover path.cls-5{
  stroke: var(--white);
}

.c-grid__aside ul li a:hover path.cls-6{
  fill: var(--white);
}

.c-grid__aside ul li a:hover rect{
  fill: var(--white);
}

/*
* Selected
*/
.c-grid__aside ul li a.selected path.cls-3{
  stroke: var(--white);
}

.c-grid__aside ul li a.selected path.cls-5{
  stroke: var(--white);
}

.c-grid__aside ul li a.selected path.cls-6{
  fill: var(--white);
}

.c-grid__aside ul li a.selected rect{
  fill: var(--white);
}


/*
* MAIN GRIDS
*/
.c-grid__main{
  padding: 2.5rem;
  grid-area: main;
  background-color: var(--dark);
  color: var(--white);
  /* overflow-y:auto; */
}

/*
* DASHBOARD
*/
.c-dashboard{
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.c-dashboard__item{
  background-color: var(--card-gray);
  border-radius: 3px;
  padding: 1rem;
  color: var(--white);
}

/*
* TRACKER
*/
.c-tracker__map{
  margin-top:2.5rem;
  height:100%;
  display:flex;
  gap: 4rem;
}

.c-tracker__filter-title{
  font-size:1rem;
  color:var(--light-gray);
  margin: 2rem 0 0.5rem 0;
}

.c-tracker__filter-options{
  display:flex;
  gap: 0.5rem 1rem;
  flex-wrap: wrap;
}

.c-tracker__filter-label{
  display:block;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  background-color: var(--light-dark);
  transition: all 0.2s ease-in-out;
}

.c-tracker__filter-label:hover{
  cursor: pointer;
  background-color: var(--secondary-color);
  transition: all 0.2s ease-in-out;
}

.c-tracker__filter-label:hover .c-tracker__filter-count{
  background-color: var(--tertiary-color);
  transition: all 0.2s ease-in-out;
}

.c-tracker__filter-input[type=checkbox],
.c-tracker__filter-input[type=radio] {
  display: none;
}

.c-tracker__filter-input:checked + .c-tracker__filter-label {
  background-color: var(--primary-color);
  color: var(--white);
}

.c-tracker__filter-input:checked + .c-tracker__filter-label .c-tracker__filter-count{
  background-color: var(--secondary-color);
  transition: all 0.2s ease-in-out;
}

.c-tracker__filter-count{
  display: inline-block;
  background-color: var(--card-gray);
  padding: 0.25rem;
  border-radius: 3px;
  width: 1.625rem;
  height: 1.625rem;
  text-align: center;
  margin-left: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.c-tracker__search{
  position: relative;
}

.c-tracker__search-input[type="text"]{
  padding: 0.75rem 1rem;
  width: 100%;
  box-sizing: border-box;
  text-transform:uppercase;
}

.c-tracker__search-icon{
  content: url(./assets/search.svg);
  position: absolute;
  top: 50%;
  right: 0.5rem; /* Adjust the value to control the distance from the right edge */
  transform: translateY(-50%); /* Vertically center the icon */
}


/*
* EVENTS
*/
.c-events{
  display:grid;
  padding: 2.5rem;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
  "title"
  "events";
}

.c-events__title{
  grid-area:title;
  margin-bottom: 4rem;
}

.c-events__table-container{
  grid-area:events;
  max-height: 76vh;
  overflow-y: auto;
  border-radius: 3px;
}

.c-events__table{
  width: 100%;
  position: relative;
  border-collapse: collapse;
  border-spacing: 0 0.25rem;
}

.c-events__table-row{
  border-bottom: 1px solid var(--card-gray);
}

.c-events__table th{
  position: sticky;
  top: 0;
  text-align: left;
  padding: 1rem;
  background-color: var(--card-gray);
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
}

.c-events__table-row td{
  padding: 2rem 1rem;
  background-color: var(--dark);
  transition: all 0.2s ease-in-out;
}

.c-events__table-row:hover td{
  background-color: #1A1414;
  color: var(--primary-color);
  transition: all 0.2s ease-in-out;
}

.c-events__table-row>td:first-child{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.c-events__table-row>td:last-child{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/*
* Utils
*/

.u-grid-2{
  grid-column: span 2;
}
