:root{
  --white: #fafafa;
  --primary-color: #426BFD;
  --secondary-color: #6889FD;
  --dark: #000;
  --light-dark: #191919;
  --light-gray: #A0A0A0;
  --card-gray: #303030;
}

::-moz-selection { /* Code for Firefox */
  color: #fafafa;
  background: #426BFD;
}

::selection {
  color: #fafafa;
  background: #426BFD;
}

body,html {
  background-color: var(--dark);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.leaflet-container{
  height:80%;
  width:100%;
  /* height: 40vh;
  width:50vw; */
}